.terraform/
.terraform.*
terraform.tf*
plan.out
*.out
/.idea
*.tfplan
connection.tf
provider.tf
az-set-creds.sh
az-set-creds*
creds.tf
creds*.tf
*passphrase.txt
eis-secrets.yml

.secrets
*.secrets/
.secrets*/
.secrets*

azurek8s*

*.private.key

*.log